*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out
coverage.*
*.coverprofile
profile.cov

bd/
go.work
go.work.sum

.env

.idea/
.vscode/
user.json
crypto_cache.json
.DS_Store
info_contacts.json
crypto_cache.json
analysis_cache.json
logs